<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="responsive" ><a #backhome routerLink="/">wla-meets-lastfm</a></div>
  </mat-toolbar-row>
  <mat-toolbar-row>
  <form class="mainsearchbar responsive">
      <mat-form-field>
        <input
          matInput
          name='searchbar'
          type="search"
          placeholder="Suche"
          (keydown)="onChange()"
          [(ngModel)]='searchvalue'
        >
      </mat-form-field>
  </form>
  </mat-toolbar-row>

</mat-toolbar>

