.mainsearchbar {
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
}

.mat-form-field {
  width: 100%;
}

input {
  width: 100%;
}

a {
  color: #d50000;
  text-decoration: none;
}

a:hover {
  color: #ce6d6d;
}

.icon {
  color: white;
  float: right;
  font-size: x-large;
}


.icon:hover {
  color: #ce6d6d;
  float: right;
  font-size: x-large;
}
