.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}


.mat-form-field {
  width: 100%;
}

input {
  width: 100%;
}

.taglist .mat-list-item {
  background-color: rgb(223, 223, 223);
  border-radius: 25px;
  margin-bottom: 1rem;
}
.tag {
  margin: 0 auto 0 auto;
  font-weight: bold;
}


.taglist .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
 display: block !important;
}
